extends layout

block body
  ng-include(src="'templates/navbar'")
  alert(ng-repeat='alert in globalAlerts', type='{{alert.type}}', close='alert.close()', ng-cloak='') {{alert.msg}}
  .container(ng-view)
