extends layout

block body
  .page-wrap
    ng-include(src="'templates/navbar'")
    alert(ng-repeat='alert in globalAlerts', class='alert', type='{{alert.type}}', close='alert.close()', ng-cloak='') {{alert.msg}}
    .container.min-height(ng-view)
  .site-footer
    .container
      //- .row
      //-   .col-sm-4
      //-     .footer_dv.h5.text-center
      //-       h4 Services
      //-       ul
      //-         li.line_rv Blah
      //-   .col-sm-4
      //-     .footer_dv.h5.text-center
      //-       h4 Services
      //-       ul
      //-         li
      //-           a(href='/') Come Visit Us
      //-   .col-sm-4
      //-     .footer_dv.h5.text-center
      //-       h4 Contact us
      //-       ul
      //-         li Customer Support
      //-         //- li Call Us
      .row.text-center.white
        br
        | Built with #[i.icon.ion-heart] at #[a(href='http://www.makeschool.com/', target='_blank') Make School] in San Francisco, CA
