extends layout

block body
  ng-include(src="'templates/navbar'")
  alert(ng-repeat='alert in globalAlerts', class='alert', type='{{alert.type}}', close='alert.close()', ng-cloak='') {{alert.msg}}
  .container.min-height(ng-view)
  br
  br
  br
  br
  section.footer
    .container
      .row
        .col-lg-4.col-md-4.col-sm-4
          .footer_dv
            //- h4 Services
            //- ul
            //-   li.line_rv Blah
        .col-lg-4.col-md-4.col-sm-4
          .footer_dv
            //- h4 Services
            //- ul
            //-   li
            //-     a(href='/') Come Visit Us
        .col-lg-4.col-md-4.col-sm-4
          .footer_dv
            //- h4 Contact us
            //- p Customer Support
            //- p Call Us 
            //-   br
      .row.text-center.white
        br
        br
        br
        | Built with #[i.icon.ion-heart] in San Francisco, CA 