doctype html
html(lang="en", ng-app='basic-auth')
  head
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    base(href='/')
    title GA/QA
    meta(name="description" content="A MEAN stack auth skeleton using Satellizer.")

    //- Latest compiled and minified CSS
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='//bootswatch.com/cosmo/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/ionicons/css/ionicons.min.css')
    
    link(rel='stylesheet', href='/vendor/highlightjs/styles/monokai.css')
  
    link(rel='stylesheet', href='/css/footer.css')
    link(rel='stylesheet', href='/css/style.css')

  body(ng-controller="MainCtrl")
    block body

    br
    br
    br
    br
    section.footer
      .container
        .row
          .col-lg-4.col-md-4.col-sm-4
            .footer_dv
              h4 Services
              ul
                li.line_rv
                  a(href='/') Contact Us
          .col-lg-4.col-md-4.col-sm-4
            .footer_dv
              h4 Services
              ul
                li
                  a(href='/') Come Visit Us
          .col-lg-4.col-md-4.col-sm-4
            .footer_dv
              h4 Contact us
              p Customer Support
              p Call Us 
                br

  script(type="text/javascript", src='/vendor/jquery/dist/jquery.min.js')
  script(type="text/javascript", src='/vendor/bootstrap/dist/js/bootstrap.min.js')

  script(type="text/javascript", src='/vendor/angular/angular.js')
  script(type="text/javascript", src='/vendor/angular-resource/angular-resource.min.js')
  script(type="text/javascript", src='/vendor/angular-route/angular-route.min.js')
  script(type="text/javascript", src='/vendor/angular-sanitize/angular-sanitize.min.js')
  script(type="text/javascript", src='/vendor/highlightjs/highlight.pack.min.js')
  script(type="text/javascript", src='/vendor/marked/lib/marked.js')    
  script(type="text/javascript", src='/vendor/angular-marked/dist/angular-marked.min.js')
  script(type="text/javascript", src='/vendor/moment/moment.js')
  script(type="text/javascript", src='/vendor/angular-moment/angular-moment.js')
  script(type="text/javascript", src='/vendor/satellizer/satellizer.min.js')

  script(type="text/javascript", src='/js/app.js')
  script(type="text/javascript", src='/js/services.js')
  script(type="text/javascript", src='/js/controllers/MainCtrl.js')
  script(type="text/javascript", src='/js/controllers/UsersCtrl.js')
  script(type="text/javascript", src='/js/controllers/QuestionsCtrl.js')