doctype html
html(lang="en", ng-app='zoinks')
  head
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    base(href='/')
    title Zoinks | Collaborative Event Planning Tool
    meta(name="description" content="Zoinks helps you easily plan camping trips, picnics, potlucks and other collaborative events with your friends.")
    meta(name="keywords" content="Camping, Event Planning, Friends")
    
    meta(property="og:title" content="More Fun with Friends")
    meta(property="og:url" content="http://www.zoinksapp.com")
    meta(property="og:type" content="website")
    //- meta(property="og:image" content="")
    meta(property="og:description" content="Zoinks helps you easily plan camping trips, picnics, potlucks and other collaborative events with your friends.")

    //- Latest compiled and minified CSS
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='//bootswatch.com/paper/bootstrap.min.css')
    link(rel='stylesheet', href='//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='/vendor/angular-bootstrap-datetimepicker/src/css/datetimepicker.css')
    link(rel='stylesheet', href='/css/style.css')

    //- link(rel='stylesheet', href='/vendor/ionicons/css/ionicons.css')

  body(ng-controller="MainCtrl")
    script.
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '1184762851540712',
      xfbml      : true,
      version    : 'v2.5'
      });
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
    block body

  script(type="text/javascript", src='//code.jquery.com/jquery-1.9.1.js')
  script(type="text/javascript", src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(type="text/javascript", src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  script(type="text/javascript", src='//code.jquery.com/ui/1.10.3/jquery-ui.js')

  script(type="text/javascript", src='/vendor/angular/angular.js')
  script(type="text/javascript", src='/vendor/angular-resource/angular-resource.js')
  script(type="text/javascript", src='/vendor/angular-route/angular-route.js')
  script(type="text/javascript", src='/vendor/angular-socket-io/socket.js')
  script(type="text/javascript", src='/vendor/angular-cookies/angular-cookies.min.js')
  script(type="text/javascript", src='/vendor/angular-sanitize/angular-sanitize.js')
  script(type="text/javascript", src='/vendor/angular-touch/angular-touch.js')
  script(type="text/javascript", src='/vendor/moment/moment.js')
  script(type="text/javascript", src='/vendor/angular-moment/angular-moment.js')
  script(type="text/javascript", src='/vendor/lodash/lodash.min.js')
  script(type="text/javascript", src='/vendor/satellizer/satellizer.min.js')
  script(type="text/javascript", src='/vendor/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
  script(type="text/javascript", src='/js/app.js')
  script(type="text/javascript", src='/js/services.js')
  script(type="text/javascript", src='/js/controllers/MainCtrl.js')
  script(type="text/javascript", src='/js/controllers/ZoinksCtrl.js')
  script(type="text/javascript", src='/js/filters.js')
  script(type="text/javascript", src='/js/directives.js')

  script(type='text/javascript', src='/socket.io/socket.io.js')
