doctype html
html(lang="en", ng-app='myApp')
  head
    meta(charset='utf8')
    base(href='/')
    title Question Queue
    
    //- Latest compiled and minified CSS
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    //- Optional theme
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/vendor/ionicons/css/ionicons.css')
      
  body(ng-controller="MainCtrl")
    block body

  script(src='//code.jquery.com/jquery-1.9.1.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  script(src='//code.jquery.com/ui/1.10.3/jquery-ui.js')

  script(type="text/javascript", src='/vendor/angular/angular.js')
  script(type="text/javascript", src='/vendor/angular-resource/angular-resource.js')
  script(type="text/javascript", src='/vendor/angular-route/angular-route.js')
  script(type="text/javascript", src='/vendor/angular-socket-io/socket.js')
  script(type="text/javascript", src='/vendor/angular-cookies/angular-cookies.min.js')
  script(type="text/javascript", src='/vendor/underscore/underscore.js')
  script(type="text/javascript", src='/app.js')
  script(type="text/javascript", src='/services.js')
  script(type="text/javascript", src='/interceptors.js')
  script(type="text/javascript", src='/controllers/mainCtrl.js')
  script(type="text/javascript", src='/controllers/postCtrls.js')
  script(type="text/javascript", src='/controllers/roomCtrls.js')
  script(type="text/javascript", src='/filters.js')
  script(type="text/javascript", src='/directives.js')

  script(src='/socket.io/socket.io.js')
  //- script.
    var socket =  io.connect('http://localhost:1337/');