/*.animate-slide {
  animation: 0.5s slideInLeft;
}

.animate-slide.ng-hide {
  animation: 0.5s slideOutLeft;
}
*/

.jumbotron {
  padding:100px 0 130px 0;
}
a{
    cursor: pointer;
}

.sidenav.ng-hide  { 
  animation:fadeOut 3s; 
}

.whole-height {
  height:100vh;
}
.box-shadow-left {
  -webkit-box-shadow: -7px -4px 7px -7px black;
     -moz-box-shadow: -7px -4px 7px -7px black;
          box-shadow: -7px -4px 7px -7px black;
}
.margin-top {
  margin-top:9px;
}
ul,li {
  list-style: none;
}
ul {
  padding:0;
}
a:hover {
  text-decoration: none;
  opacity:0.7;
}
.navbar {
  margin:0;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.6);
          box-shadow: 0 1px 7px rgba(0,0,0,0.6);
}
.dark-sidebar {
  background: #353839;
}
.dark-sidebar b {
  color:#FDFDFD;
}
.main {
  z-index: -1;
  position: relative;
  background-color: #F7F7F7;
}
.no-padding {
  padding:0;
}
.padding-top-bottom {
  padding:10px 0;
}
.margin-sides {
  margin:0px 3px;
}
.chat {
  background-color: white;
  padding-top:10px;
}
.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding:10px;
}
.card-header {
  border-bottom:1px solid #eee;
}

.list-group {
  margin-top: 10px;
}
.list-group-item {
    padding: 8px 15px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.position-relative {
  position: relative;
}

/* app css stylesheet */

.hide {
 display: none;
}

.menu {
list-style: none;
border-bottom: 0.1em solid black;
margin-bottom: 2em;
padding: 0 0 0.5em;
}

.menu:before {
content: "[";
}

.menu:after {
content: "]";
}

.menu > li {
display: inline;
}

.menu > li.hide {
 display: none;
}

.menu > li:before {
content: "|";
padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
content: "";
padding: 0;
}

p.status {
 color: red;
}

p.status.good, p.good {
 color: green;
}

form label {
 display: block;
 margin: 15px 0px 0px 0px;
}

form label span {
 display: block;
 font-weight: bold;
}

.error {
 color: red;
}

fieldset {
 float: left;
 margin-right: 25px;
 padding: 25px;
}

.big {
  font-size:150%;
}