html, body, .tall {height: 100%; min-height: 100%}

.background-grey {
  background-color: #FCFCFC;
  padding-top:60px;
}

.jumbotron {
  background: rgb(255, 89, 89);
  color:white;
  -webkit-box-shadow: 0px 4px 41px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 41px -16px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 41px -16px rgba(0,0,0,0.75);
  margin-bottom:100px;
}

.navbar {
/*  position: fixed;
  width: 100%;
*/  -webkit-box-shadow: 0px 4px 41px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 41px -16px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 41px -16px rgba(0,0,0,0.75);
  background: rgb(255, 89, 89);
  margin-bottom:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.navbar h2 {
  color:white;
  margin-bottom: 23px;
}

.navbar-header {
  margin-right: -110px;
}
.navbar-brand {
  float: left;
  height: 63px;
  padding: 27px;
  font-size: 32px;
  line-height: 20px;
  font-weight: 700;
}
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #eee
}

.topbar {
  margin: 10px auto;
}

.lead {
  font-size: 18px;
}

a.brand {
  color:black;
  text-decoration: none;
}

a.brand:hover {
  color:grey;
  text-decoration: none;
}

.question {
  height: 80px;
  border-bottom:1px solid #eee;
}

textarea {   
  resize: none;
  font-size: 16px;
  height: 100%;
  width: 100%;
  border: none;
  font-family: helvetica;
  padding: 10px;
}

.tall {
  min-height: 100%;
}
.borders {
  border-left:1px solid #eee;
  border-right:1px solid #eee;  
  border-top:1px solid #eee;
  min-height:100%;
  padding:0;
}

.event-name form {
    height: 50px;
}

.event-name .hash-tag {
  height: 98%;
  width: 50px;
  text-align: center;
  padding: 12px;
  font-size: 21px;
  background: rgb(255, 89, 89);
  color: white;
}

.event-name input {
  height: 96%;
  width: 83.5%;
  border:none;
  padding-left:8px;
  font-family: helvetica;
  font-size:20px;
  border-bottom: 1px solid lightgrey;
}

.enter-room-btn {
  background:#eee;
  color:#505050;
}

.enter-room-btn i {
  position: relative;
  bottom: 4px;
}

.ask-btn {
  background:#477998;
  color:white;
}

.ask-btn:hover {
  color:white;
  background: #78BC61;
}

textarea:focus, input:focus {
  outline: none;
}

.list-group {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.list-group-item {
  border-bottom: 1px solid #eee;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 1px;
}

.padding {
  padding:10px;
}

.toggle-order {
  position: absolute;
  right: -90px;
  top: 130px;
}

.btn-order {
  width:75px;
}

.voting-buttons {
  margin-right:15px;
  font-size:170%;
}

.voting-buttons i {
  position: relative;
  bottom: 10px;
}

.voted_up {
  color:#B4D2E7;
}

.voted_down {
  color:#F59CA9;
}

.vote_down, .vote_up {
  height: 10px;
}

.vote_down:hover, .vote_up:hover {
  cursor: pointer;
  /*color:lightgrey;*/
}

.created-at {
  text-align: right;
  color: grey;
  font-size: 11px;
  margin-top: 8px;
}

.how-it-works {
  padding: 20px 30px;
  background: #eee;
  font-size: 15px;
  margin:10px 10px;
}

.margin-top {
  margin-top:10px;
}

.italic {
  font-style: italic;
}

.comments {
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding: 10px 0 0 25px;
}

.comment {
  position: relative;
}

.xsmall {
  font-size:67%;
}

.relativets {
  position: absolute;
  bottom: 0;
  right: 0;
}

