html, body, .tall {height: 100%; min-height: 100%}

.topbar {
  margin: 10px auto;
}

a.brand {
  color:black;
  text-decoration: none;
}

a.brand:hover {
  color:grey;
  text-decoration: none;
}

.question {
  height: 80px;
  border-bottom:1px solid #eee;
}

textarea {   
  resize: none;
  font-size: 16px;
  height: 100%;
  width: 74.5%;
  border: none;
  font-family: helvetica;
  padding: 10px;
}

.main-container {
  margin: 0 auto;
  border-left:1px solid #eee;
  border-right:1px solid #eee;  
  border-top:1px solid #eee;
  min-height:100%;
}

@media(max-width:767px){
  .main-container, .topbar {
    width:100%;
  }
}
@media(min-width:768px){
  .main-container, .topbar {
    width:420px;
  }
}
@media(min-width:992px){
  .main-container, .topbar {
    width:500px;
  }
}
@media(min-width:1200px){
  .main-container, .topbar {
    width:600px;
  }
}

.event-name {
  position: relative;
  height: 50px;
  border-bottom:1px solid #eee;
}

.event-name .hash-tag {
  height: 100%;
  width:50px;
  text-align: center;
  padding:10px;
  font-size: 20px;
  background: rgb(255, 89, 89);
  color: white;
}

.event-name input {
  height: 100%;
  width: 68.5%;
  border:none;
  padding-left:8px;
  font-family: helvetica;
  font-size:20px;
}

.enter-room-btn {
  background:#eee;
  color:#505050;
}

.qq-btn {
  height: 100%;
  padding:14px;
  width:15%;
  text-align: center;
  font-size:20px;
  cursor: pointer;
  border-radius: 0;
}

.ask-btn {
  background:#477998;
  color:white;
}

.ask-btn:hover {
  color:white;
  background: #78BC61;
}

textarea:focus, input:focus {
    outline: none;
}

.list-group {
  border-radius: 0;
}

.list-group-item {
  border-bottom:2px solid #eee;
  border-top:none;
  border-right:none;
  border-left:none;
}

.padding {
  padding:10px;
}

.order-btn {
  position: absolute;
  right: -100px;
  top: 132px;
}

.voting-buttons {
  margin-right:15px;
  font-size:170%;
}

.voting-buttons i {
  position: relative;
  bottom: 10px;
}

.voted_up {
  color:#B4D2E7;
}

.voted_down {
  color:#F59CA9;
}

.vote_down, .vote_up {
  height: 10px;
}

.vote_down:hover, .vote_up:hover {
  cursor: pointer;
  color:lightgrey;
}
