.dropdown-menu {
  padding: 10px;
  width: 280px;
}

.btn {
    border-radius: 0;
}
.alert {
  position: absolute;
  top:50px;
  width:100%;
  text-align: center;
  height:40px;
  line-height: 10px;
}