.container
  .row
    .col-sm-12
      .page-header
        h3 Courses
      .card
        table.table
          tr
            th Q
            th Title
            th Week Days
            th Instructor
            th Start Time
            th Status
            th Update
          tr(ng-repeat="course in courses | orderBy: ['publishedAt']")
            td {{course.quarter}}
            td 
              a(href="/courses/{{course._id}}") {{course.title}}
            td {{course.instructor.fullname}}
            //- td(ng-show="course.coInstructor") {{course.coInstructor.fullname}}
            td {{course.weekDays}}
            td {{course.startTime}}
            td.text-center {{course.publishedAt ? 'Live': 'Draft'}}
            td
              .btn-toolbar
                .btn-group
                  a.btn.btn-success.btn-sm(ng-hide="course.publishedAt" ng-click="publishCourse(course)") Publish Now
                  a.btn.btn-link.btn-sm(ng-show="course.publishedAt" ng-click="unPublishCourse(course)") Unpublish
                .btn-group
                  a.btn.btn-default.btn-sm(href="/courses-edit/{{course._id}}") Edit
  
  .row
    .col-sm-12
      .page-header
        h3 Instructors
      .list-group
        a.clearfix.list-group-item(ng-repeat="instructor in instructors" href="/users/{{instructor._id}}")
          {{instructor.first}} {{instructor.last}} - {{instructor.username}} - {{instructor.email}}
