.row
  .col-sm-10.col-sm-offset-1
    .page-header
      h3 Students
    .list-group
      .list-group-item(ng-repeat="student in students")
        a.clearfix(href="/users/{{student._id}}")
          {{student.first}} {{student.last}} - {{student.username}} - {{student.email}}
        br
        .row
          .col-md-5
            h5 Courses
            a(href="/courses/{{course._id}}" ng-repeat="course in student.enrolledCourses")
              {{course.title}}
          .col-md-4
            h5 Products
            a(href="/products/{{product._id}}" ng-repeat="product in student.products")
              {{product.name}}
          .col-md-3
            h5 Competencies
            div(ng-repeat="competence in student.competences | orderBy: ['-level']")
              {{competence.level}} - {{competence.name}} 
  
.row
  .col-sm-10.col-sm-offset-1
    .page-header
      h3 Instructors
    .list-group
      a.clearfix.list-group-item(ng-repeat="instructor in instructors" href="/users/{{instructor._id}}")
        {{instructor.first}} {{instructor.last}} - {{instructor.username}} - {{instructor.email}}

.row
  .col-sm-10.col-sm-offset-1
    .page-header
      h3 Courses
    .list-group
      a.clearfix.list-group-item(ng-repeat="course in courses" href="/courses/{{course._id}}")
        {{course.title}} - {{course.instructor.fullname}}
