.container
  .row
    .col-sm-12
      .page-header
        h3 Courses
      .card
        table.table
          tr
            th.text-center Title
            th.text-center Instructor(s)
            th.text-center Dates
            th.text-center Status
            th.text-center 
          tr(ng-repeat="course in courses | orderBy: ['publishedAt']")
            td 
              a(href="/courses/{{course._id}}") {{course.title}}
            td
              {{course.instructor.fullname}}
            td
              span(ng-bind="course.startsOn | date:'MMM dd'")
              |  - 
              span(ng-bind="course.endsOn | date:'MMM dd'")
            td.text-center {{course.publishedAt ? 'Live': 'Draft'}}
            td
              .btn-toolbar
                .btn-group
                  a.btn.btn-success.btn-sm(ng-hide="course.publishedAt" ng-click="publishCourse(course)") Publish Now
                  a.btn.btn-link.btn-sm(ng-show="course.publishedAt" ng-click="unPublishCourse(course)") Unpublish
                .btn-group
                  a.btn.btn-default.btn-sm(href="/courses-edit/{{course._id}}") Edit
  
  .row
    .col-sm-12
      .page-header
        h3 Instructors
      .list-group
        a.clearfix.list-group-item(ng-repeat="instructor in instructors" href="/users/{{instructor._id}}")
          {{instructor.first}} {{instructor.last}} - {{instructor.username}} - {{instructor.email}}
