.row
  h3 Unconfirmed Users
  ul.list-group
    li.clearfix.list-group-item(ng-repeat="user in unconfirmedUsers")
      {{user.first}} {{user.last}} - {{user.username}} {{user.email}} - {{user.type}} in {{user.location}}
      .pull-right.btn.btn-primary(ng-click="confirmUser(user, $index)") Confirm
