.container
  .row
    .col-sm-10.col-sm-offset-1
      .clearfix
        .pull-left
          a.no-style(href="users/{{user._id}}")
            h3 {{user.fullname}} ({{user.username}})
        .pull-right
          a(href="http://wiki.makeschool.com/mediawiki/index.php/Mastery_Levels", target="_blank") View Rubrics in Wiki
      .row
        .col-sm-6
          .card
            h4 Character
            ng-include(src="'templates/competency-selector'" ng-repeat="competency in competencies | filter: { kind: 'character' }")
          .card
            h4 Core
            ng-include(src="'templates/competency-selector'" ng-repeat="competency in competencies | filter: { kind: 'core' }")
        .col-sm-6
          .card
            h4 Elective
            ng-include(src="'templates/competency-selector'" ng-repeat="competency in competencies | filter: { kind: 'elective' }")
