.row
  .col-xs-4.col-sm-4.col-md-3
    .row
      .col-xs-4
        .icon.ion-plus-circled(ng-disabled="competence.level > 5", ng-click="updateCompetence(competence.name, competence.level + 1, competence.kind)")
      .col-xs-4
        {{competence.level}}
      .col-xs-4
        .icon.ion-minus-circled(ng-disabled="competence.level == 0", ng-click="updateCompetence(competence.name, competence.level - 1, competence.kind)")
  .col-xs-8.col-sm-8.col-md-9
    {{competence.name}} 