.container
  .row
    .col-sm-10.col-sm-offset-1
      legend {{user.fullname}} ({{user.username}})
      .row
        .col-sm-6
          .card
            h4 Character
            ng-include(src="'templates/competence-selector'" ng-repeat="competence in competences | filter: { kind: 'character' }")
          .card
            h4 Core
            ng-include(src="'templates/competence-selector'" ng-repeat="competence in competences | filter: { kind: 'core' }")
        .col-sm-6
          .card
            h4 Elective
            ng-include(src="'templates/competence-selector'" ng-repeat="competence in competences | filter: { kind: 'elective' }")
