.container
  .row
    .col-sm-10.col-sm-offset-1
      form(ng-submit="findStudent()")
        .input-group
          input.form-control(ng-model="term.fullname")
          span.input-group-btn
            button.btn.btn-primary(type="submit") Search
      hr
      .list-group
        a.list-group-item(ng-repeat="user in userList | filter:term", href="users/{{user._id}}/competences")
          h4 {{user.fullname}}