.card.course
  a(href="/courses/{{course._id}}")
    h4.text-center {{course.title}}  
  .text-muted {{course.instructor.fullname}}
  b Starts On: 
  span(ng-bind="course.startsOn | date:'MMMM dd, yy'")
  br
  b Ends On: 
  span(ng-bind="course.endsOn | date:'MMMM dd, yy'")  
  //- br
  //- b Duration: 
  //- span(ng-pluralize count="course.duration" when="{'0': 'One Off', 'one': '1 Week', 'other': '{} Weeks'}")
  //- p
  //-   a.btn.btn-primary(href='#', role='button') Button
  //-   a.btn.btn-default(href='#', role='button') Button