.container
  .row
    .col-xs-12.text-center
      h3(ng-show="isCoursesLoaded && !course.publishedAt").text-danger
        b Draft
      h2 {{course.title}} 
      .lead Facilitated by 
        a(href="/users/{{course.instructor._id}}") {{course.instructor.fullname}}
  .row
    .col-md-6
      
      //- COURSE INFO
      .card
        b Dates: 
        span(ng-bind="course.startsOn | date:'EEE MMM dd, yyyy'")
        |  - 
        span(ng-bind="course.endsOn | date:'EEE MMM dd, yyyy'")
        br
        b Hours per Week: 
        span {{course.hours}}
        br  
        b Location: 
        span {{course.location}}
        br  
        b Capacity: 
        span {{course.capacity || 26}}
        br
        b Learning Objectives
        ul
          li(ng-repeat="objective in course.objectives") {{objective}}
        b Description
        | {{course.description}}
      
      .btn.btn-primary.btn-block(ng-cloak ng-click="enroll()" ng-show="isCoursesLoaded && !enrolled" ng-disabled="course.instructor._id != currentUser.id") Enroll
      .btn.btn-success.btn-block.no-hover(ng-show='isCoursesLoaded && enrolled && course.instructor._id != currentUser.id') Enrolled
      .btn.btn-default.btn-block(ng-disabled="true" ng-show='course.students.length >= course.capacity') Course Full


      hr
      .row
        .col-sm-6
          //- STUDENTS
          h4 Participants
            .card
              p
                a(href="users/{{course.instructor._id}}") {{course.instructor.fullname}}
              p(ng-repeat="student in course.students")
                a(href="users/{{student._id}}") {{student.fullname}}
        .col-sm-6
          //- PRODUCTS
          h4 Products
          .card(ng-show="course.products.length > 0")
            p(ng-repeat="product in course.products")
              a(href="products/{{product._id}}") {{product.name}}
    
    .col-md-5
      //- ANNOUNCMENTS
      br
      form(ng-submit="createPost()")
        .form-group
          textarea.form-control(ng-model="post.body", placeholder="New announcement" autofocus="true")
        .row
          .col-xs-12
            //- .form-group(ng-if="course.instructor._id === currentUser._id")
            //-   p.input-group
            //-     span.input-group-btn
            //-       button.btn.btn-default(type='button', ng-click="open1()")
            //-         i.glyphicon.glyphicon-calendar
            //-     input.form-control(type='text', placeholder="Due date", uib-datepicker-popup='{{format}}', ng-model='post.dueDate', is-open='popup1.opened', close-text='Close', alt-input-formats='altInputFormats')
            .clearfix
              .pull-left
                .checkbox
                  label
                    input(type="checkbox" ng-model="post.emailParticipants")
                    .text-muted Email Participants 
              .pull-right
                button.btn.btn-primary(type="submit") #[i.icon.ion-paper-airplane] Post

      hr
      div(ng-include="'templates/post'", ng-repeat="post in posts")
