.row
  .col-xs-12
    h3 Upcoming
  .col-sm-6.col-lg-4(ng-include="'templates/course'" ng-repeat="course in courses" ng-if="upcomingCourses(course)")

.row
  .col-xs-12
    h3 Current
  .col-sm-6.col-lg-4(ng-include="'templates/course'" ng-repeat="course in courses" ng-if="currentCourses(course)")

.row
  .col-xs-12
    h3 Past
  .col-sm-6.col-lg-4(ng-include="'templates/course'" ng-repeat="course in courses" ng-if="pastCourses(course)")
