.row
  .col-sm-6
    .form-group
      label Title*
      input.form-control(type="text" ng-model="course.title" autofocus="true" required)
  .col-sm-3
    .form-group
      label Instructor
      select.form-control(ng-model="course.instructor")
        option(ng-repeat="instructor in instructors" value="{{instructor._id}}" ng-disabled="course.coInstructor == instructor._id") {{instructor.fullname}}
        
  .col-sm-3
    .form-group
      label Co-Instructor
      select.form-control(ng-model="course.coInstructor")
        option(ng-repeat="instructor in instructors" value="{{instructor._id}}" ng-disabled="course.instructor == instructor._id") {{instructor.fullname}}
.row
  //- .col-sm-6
  //-   .form-group
  //-     label Start Date
  //-     br
  //-     date-dropdown(month="course.startsOnMonth" day="course.startsOnDay" year="course.startsOnYear")

  //- p.input-group
  //-   input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='course.startsOn', is-open='starts.opened', close-text='Close', alt-input-formats='altInputFormats')
  //-   span.input-group-btn
  //-     button.btn.btn-default(type='button', ng-click='startsOpen()')
  //-       i.glyphicon.glyphicon-calendar
  //- .col-sm-6
  //-   .form-group
  //-     label End Date
  //-     br
  //-     date-dropDown(month="course.endsOnMonth" day="course.endsOnDay" year="course.endsOnYear")
  //- p.input-group

  //-   input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='course.endsOn', is-open='ends.opened', close-text='Close', alt-input-formats='altInputFormats')
  //-   span.input-group-btn
  //-     button.btn.btn-default(type='button', ng-click='endsOpen()')
  //-       i.glyphicon.glyphicon-calendar
.row
  .col-sm-3
    .form-group
      label Quarter
      select.form-control(ng-model="course.quarter")
        option(value="") 
        option(value="1") Quarter 1
        option(value="2") Quarter 2
        option(value="3") Quarter 3
        option(value="4") Quarter 4

  .col-sm-5
    .form-group
      label Location
      input.form-control(ng-model='course.location')

  .col-sm-2
    .form-group
      label Week Days
      select.form-control(ng-model="course.weekDays")
        option(value="") 
        option M/W/F
        option Tu/Th
        option M/W
        option M/F
        option W/F
        option M/Th
        option Tu/F
        
  .col-sm-2
    .form-group
      label Start Time
      select.form-control(ng-model="course.startTime")
        option(value="") 
        option(value="10:10am") 10:10am
        option(value="1:20pm") 1:20pm

.form-group
  label Description
  textarea.form-control(type="text" ng-model="course.description" rows="10")
  
.form-group
  label Objectives
  p
    small.text-muted By the end, students will be able to ...
  .input-group.margin-bottom(ng-repeat='objective in course.objectives track by $index')
    input.form-control(type='text' ng-model='course.objectives[$index]')
    .input-group-btn
      .btn.btn-default(ng-click="rmObjectiveField($index)")
        i.icon.ion-minus-circled
  div
    .btn.btn-default(ng-click="addObjectiveField()") Add
