a.no-style(href="/courses/{{course._id}}")
  .card.course
    h4 {{course.title}}  
    .text-muted {{course.instructor.fullname}}
    p {{course.description | limitTo:180 }} ...
    .row
      .col-sm-6
        ng-pluralize(count='course.students.length', 
                     when="{'1': '1 participant', 'other': '{} participants' }")
        br
        span(ng-bind="course.startsOn | date:'MMM dd, yyyy'")
        |  - 
        span(ng-bind="course.endsOn | date:'MMM dd, yyyy'")
      .col-sm-6
        b Hours per Week: 
        span(ng-bind="course.hours")
        br
        b Location: 
        span {{course.location | limitTo:22}} #[span {{course.location.length > 22 ? '...' : ''}}]
    //- br
    //- .row
    //-   .col-xs-12
    //-     b Objectives: 
    //-     ul
    //-       li(ng-repeat='obj in course.objectives') {{obj}}


