.container
  .row
    .col-xs-12
      h3 Course Catalog
      h4 1st Quarter
      .card
        table.table
          tr
            th Q
            th Title
            th Instructor
            th Week Days
            th Time
            th Participants
          tr(ng-repeat="course in courses | filter: { quarter: 1} | orderBy: ['title']")
            td {{course.quarter}}
            td 
              a(href="/courses/{{course._id}}") {{course.title}}
            td {{course.instructor.fullname}}
            td {{course.weekDays}}
            td {{course.startTime}}
            td {{course.students.length}}/26

      h4 2nd Quarter
      .card
        table.table
          tr
            th Q
            th Title
            th Instructor
            th Week Days
            th Time
            th Participants
          tr(ng-repeat="course in courses | filter: { quarter: 2} | orderBy: ['title']")
            td {{course.quarter}}
            td 
              a(href="/courses/{{course._id}}") {{course.title}}
            td {{course.instructor.fullname}}
            td {{course.weekDays}}
            td {{course.startTime}}
            td {{course.students.length}}/26
      
      h4 3rd Quarter
      .card
        table.table
          tr
            th Q
            th Title
            th Instructor
            th Week Days
            th Time
            th Participants
          tr(ng-repeat="course in courses | filter: { quarter: 3} | orderBy: ['title']")
            td {{course.quarter}}
            td 
              a(href="/courses/{{course._id}}") {{course.title}}
            td {{course.instructor.fullname}}
            td {{course.weekDays}}
            td {{course.startTime}}
            td {{course.students.length}}/26
      
      h4 4th Quarter
      .card
        table.table
          tr
            th Q
            th Title
            th Instructor
            th Week Days
            th Time
            th Participants
          tr(ng-repeat="course in courses | filter: { quarter: 4} | orderBy: ['title']")
            td {{course.quarter}}
            td 
              a(href="/courses/{{course._id}}") {{course.title}}
            td {{course.instructor.fullname}}
            td {{course.weekDays}}
            td {{course.startTime}}
            td {{course.students.length}}/26