.container
  .row
    .col-sm-8.col-sm-offset-2
      legend Edit Course
      form(ng-submit="updateCourse()")
        div(ng-include="'templates/course-form'")
        .btn-toolbar.pull-right
          .btn-group
            .btn.btn-danger(ng-click="deleteCourse()") Delete Course
          .btn-group
            button.btn.btn-primary(type="submit") Update Course
