.row
  .col-sm-12
    table
      thead
        tr
          td(style="font-weight: bold; padding:10px") {{courses_info.name}}
          td(style="font-weight: bold; padding:10px") {{courses_info.instructor}}
          td(style="font-weight: bold; padding:10px") {{courses_info.description}}
          td(style="font-weight: bold; padding:10px") {{courses_info.duration}}
      tbody
        tr
          td(style="padding:10px") Data Structures
          td(style="padding:10px") Alan Davis
          td(style="padding:10px") I'm going to trick you
          td(style="padding:10px") Forever
        tr
          td(style="padding:10px") iOS
          td(style="padding:10px") Benji Encz
          td(style="padding:10px") make cool iOS apps
          td(style="padding:10px") 12 weeks
        tr
          td(style="padding:10px") Ruby on Rails
          td(style="padding:10px") Andy Tiffany
          td(style="padding:10px") make cool web apps
          td(style="padding:10px") 12 weeks
