.container
  .row
    .col-sm-6.col-sm-offset-3
      legend New Course
      form(ng-submit="createCourse()")
        .form-group
          label Title
          input.form-control(placeholder="Title", ng-model="course.title")
        .text-right
          button.btn.btn-primary(type="submit") Save Course