.clearfix
  .col-xs-12
    h3 Available Courses

  .col-md-4.col-sm-6(ng-include="'templates/course'" ng-repeat="course in courses")

  .col-xs-12
    h3 Current Courses

  .col-md-4.col-sm-6(ng-include="'templates/course'" ng-repeat="course in currentCourses")