.row
  .col-sm-12 
    h4 {{course.title}}
.row
  .col-sm-3.col-xs-6
    {{course.instructor.fullname}}
    br
    {{course.students.length}}/26 Participants
  .col-sm-3.col-xs-6
    | {{course.location}}
    span(ng-show='!course.location') TBA
    br
    span(ng-bind="course.startsOn | date:'MMM dd'")
    |  - 
    span(ng-bind="course.endsOn | date:'MMM dd'")
  .col-sm-3.col-xs-6
  .col-sm-3.col-xs-6
    ng-pluralize(count='course.hours', 
                 when="{'1': '1 hr/week', 'other': '{} hrs/week' }")
    br


//- .card.course
//-   h4 {{course.title}}  
//-   .text-muted {{course.instructor.fullname}}
//-   p {{course.description | limitTo:120 }} ...
//-   .row
//-     .col-sm-6
//-       br
//-       span(ng-bind="course.startsOn | date:'MMM dd'")
//-       |  - 
//-       span(ng-bind="course.endsOn | date:'MMM dd'")
//-     .col-sm-6
//-       b Hours per Week: 
//-       span(ng-bind="course.hours")
//-       br
//-       b Location: 
//-       span {{course.location | limitTo:22}} #[span {{course.location.length > 22 ? '...' : ''}}]
//-   //- br
//-   //- .row
//-   //-   .col-xs-12
//-   //-     b Objectives: 
//-   //-     ul
//-   //-       li(ng-repeat='obj in course.objectives') {{obj}}


