.container
  .col-md-offset-1.col-md-10
    .row
      .col-sm-12
        .card-no-style
          .col-sm-5.col-xs-6.hidden-xs
            h5 Title
          .col-sm-3.col-xs-6.hidden-xs
            h5 Dates
          
          .col-sm-2.col-xs-6.hidden-xs
            h5 Location
          .col-sm-1.col-xs-6.hidden-xs
            h5 Hours
          .col-sm-1.col-xs-6.hidden-xs
            h5 
    .row
      .col-sm-12
        .course-row(ng-repeat="course in courses")
          a.no-style.course(href="/courses/{{course._id}}" ng-include="'templates/course'")


  //- .row
  //-   h3 Current Courses

  //- .row
  //-   .col-sm-4 
  //-     h5 Title
  //-   .col-sm-2.col-xs-6
  //-     h5 Dates
  //-   .col-sm-2.col-xs-6
  //-     h5 Participants
  //-   .col-sm-2.col-xs-6 
  //-     h5 Location
  //-   .col-sm-2.col-xs-6
  //-     h5 Commitment 
  //- .row
  //-   ul.list-group
    //-     a.no-style(href="/courses/{{course._id}}" ng-include="'templates/course'" ng-repeat="course in currentCourses")