.container
  .row
    .col-sm-6.col-sm-offset-3
      form(ng-submit="createFeedback()")
        legend Set Goals or Give Feedback
        .form-group
          label Feedback 
          .text-muted Please provide feedback using growth mindset language and include an improvement message.
          textarea.form-control(rows="20" ng-model="feedback.body" required)
        .text-right
          button.btn.btn-warning(type="submit") Save Competencies & Feedback
          .text-muted This will log the feedback and send an email to the student