//- HOME LOGGED IN
.row
  .col-sm-8.col-lg-7.col-lg-offset-1

    //- PAGINATION
    uib-pagination(total-items="questions.total" direction-links="false" ng-model="questions.page" ng-change="pageChanged()")
  
    //- QUESTIONS
    .list-group
      .list-group-item(ng-repeat="question in questions.docs")
        .row
          .col-xs-3.no-padding
            .row.stats.text-center
              .col-xs-4
                {{question.votes.length}}
                br
                small.hidden-xs.text-muted votes
              .col-xs-4
                {{question.answers.length}}
                br
                small.hidden-xs.text-muted answers
              .col-xs-4
                {{question.impressions.length}}
                br
                small.hidden-xs.text-muted views
          .col-xs-9
            h4 #[a(href="/questions/{{question._id}}") {{question.title}}]
            .row
              .col-xs-12
                small
                  .text-right.text-muted
                    | posted in {{question.user.location}} #[span(am-time-ago="question.createdAt")]
                    |  by #[a(href="/users/{{question.user._id}}") {{question.user.username}}]
  //- SIDEBAR
  .col-sm-4.col-lg-3
    .well 
      h5 Welcome!
      p This is a QA platform for General Assembly Web Development Immersive students, TAs, instructors, and alumni. To gain reputation ask, answer, and vote.
