.jumbotron.text-center
  h1 Welcome to GA Q&A
  .lead This is a QA platform for General Assembly Web Development Immersive students, TAs, instructors, and alumni.
  .lead To join, please select "Request Access" in the navbar.
hr

.row
  h2.text-center Benefits of Using GA Q&A
  .col-sm-4
    h3 #[i.icon.ion-wand] Get Answers
    | Learning to code his hard, so why not get help from GA students, grads, TAs, and instructors from around the world? Ask and you will get an answer.
  .col-sm-4
    h3 #[i.icon.ion-help-buoy] Help Your Friends
    | The best way to learn is to teach others. Get on GA Q&A and help people solve their problems. It will make you a better developer.
  .col-sm-4
    h3 #[i.icon.ion-arrow-graph-up-right] Earn Reputation
    | In GA Q&A you earn reputation points by asking and answering questions and for every vote up your questions and answers recieve.
