.jumbotron.text-center
  h1 Welcome to GA Q&A
  .lead This is a QA platform for General Assembly Web Development Immersive students, TAs, instructors, and alumni.
  .lead To join, please request access.