.container
  .row
    .col-sm-10.col-sm-offset-1
      .clearfix
        .pull-left
          h4 Your Courses
        .pull-right
          .btn-toolbar
            .btn-group
              a.btn.btn-success(href="/students") Leave Feedback
            .btn-group
              a.btn.btn-default(href="/courses-new") New Course

      .card
        table.table
          tr
            th Q
            th Title
            th Week Days
            th Start Time
            th Status
            th Update
          tr(ng-repeat="course in user.courses | orderBy: ['publishedAt']")
            td {{course.quarter}}
            td 
              a(href="/courses/{{course._id}}") {{course.title}}
            td {{course.weekDays}}
            td {{course.startTime}}
            td {{course.publishedAt ? 'Live': 'Draft'}}
            td 
              .btn-toolbar
                .btn-group
                  a.btn.btn-success.btn-sm(ng-hide="course.publishedAt" ng-click="publish(course)") Publish
                  a.btn.btn-danger.btn-sm(ng-show="course.publishedAt" ng-click="unpublish(course)") Unpublish
                .btn-group
                  a.btn.btn-default.btn-sm(href="/courses-edit/{{course._id}}") Edit

      hr

      h4 Products You Are Advising 
      .row
        .col-lg-4.col-md-6(ng-include="'templates/product'" ng-repeat="product in user.products")
      hr
      .row
        .col-sm-12
          .page-header
            h3 2016 Students
          .list-group
            .list-group-item(ng-repeat="student in students | filter: { year: '2016' }")
              .row
                .col-sm-3
                  b
                    a.no-style.clearfix(href="/users/{{student._id}}")
                      {{student.fullname}}
                .col-sm-4
                  span {{student.username}} - {{student.email}}
              .row
                .col-md-5
                  h5 Courses
                  p(ng-repeat="course in student.enrolledCourses | filter: { quarter: 1 }")
                    a(href="/courses/{{course._id}}") Q{{course.quarter}} - {{course.title}}
                  p(ng-repeat="course in student.enrolledCourses | filter: { quarter: 2 }")
                    a(href="/courses/{{course._id}}") Q{{course.quarter}} - {{course.title}}
                  p(ng-repeat="course in student.enrolledCourses | filter: { quarter: 3 }")
                    a(href="/courses/{{course._id}}") Q{{course.quarter}} - {{course.title}}
                  p(ng-repeat="course in student.enrolledCourses | filter: { quarter: 4 }")
                    a(href="/courses/{{course._id}}") Q{{course.quarter}} - {{course.title}}
                .col-md-4
                  h5 Products
                  div(ng-repeat="product in student.products")
                    a(href="/products/{{product._id}}")
                      {{product.name}}
                .col-md-3
                  h5 Competencies (#[a(href="/users/{{student._id}}/feedback") edit])
                  div(ng-repeat="competency in student.competencies | orderBy: ['-level']")
                    {{competency.level}} - {{competency.name}} 
