//- each i in messages
  .flash= i

.container
  .row
    .col-sm-4.col-sm-offset-4
      form(action='/login', method='post')
        h2.text-center Open, says me
        .well
          .form-group
            label(for='username') Username
            input#username.form-control(type='text', name='username', placeholder='', required='', autofocus='')
          .form-group
            label(for='password') Password
            input#password.form-control(type='password', name='password', placeholder='')

          button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
      //- .row
        .center-block.text-center
          a(href='/oauth/facebook') Login with Facebook      
          a(href='/oauth/twitter') Login with Twitter