nav.navbar.navbar-default
  .navbar-header
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/') GA/QA
  .collapse.navbar-collapse
    //- form.navbar-form.navbar-right(role='search')
    //-   .form-group
    //-     input.form-control(type='text', placeholder='')      
    //-     button.btn.btn-sm.btn-default(type='submit')
    //-       i.icon.ion-search
    ul.nav.navbar-nav.navbar-right
      li.dropdown(ng-show='!currentUser')
        a#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown')
          | Login
        .dropdown-menu.dropdown-form
          form
            .form-group
              label(for='') Email
              input.form-control(type='email', ng-model='user.email')
            .form-group
              label(for='') Password
              input.form-control(type='password', ng-model='user.password')
            .text-right
              a.btn.btn-link.link-text(href="/password-new") Forgot Password 
              button.btn.btn-danger(type='submit', ng-click='login()') Log In

      li.dropdown(ng-show='!currentUser')
        a#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown')
          | Request Access
        .dropdown-menu.dropdown-form(style='padding:17px;')
          form
            .form-group
              label(for='') First Name
              input.form-control(type='text', ng-model='user.first')
            .form-group
              label(for='') Last Name
              input.form-control(type='text', ng-model='user.last')
            .form-group
              label(for='') Username
              input.form-control(type='text', ng-model='user.username')
            .form-group
              label Account Type
              select.form-control(ng-model='user.type')            
                option() Student
                option() Graduate
                option() TA
                option() DIR
                option() Instructor
                option() Staff
            .form-group
              label(for='') Location
              select.form-control(ng-model='user.location')            
                option(selected) San Francisco
                option() New York
                option() Los Angeles
                option() Chicago
                option() London
                option() Sydney
                option() Singapore
                option() Hong Kong
                option() Austin
            .form-group
              label(for='') Email
              input.form-control(type='email', ng-model='user.email')
            .form-group
              label(for='') Password
              input.form-control(type='password', ng-model='user.password')
            .form-group
              label(for='') Confirm Password
              input.form-control(type='password', ng-model='user.confirm')
            .text-right
              a.btn.btn-link.link-text(href="/password-new") Forgot Password 
              button.btn.btn-danger(type='submit', ng-click='signup()') Sign Up
      li
        a(href="/profile") {{currentUser.username}} - {{currentUser.rep}}
      li.dropdown(ng-show='currentUser')
        a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          span.caret
        ul.dropdown-menu
          li
            a(href='/settings') Account Settings
          li(ng-show="currentUser.admin")
            a(href='/admin') Admin Settings
          li.divider(role='separator')
          li
            a(ng-click='logout()') Logout

.container(ng-show='currentUser')
  .row
    .col-sm-12.col-md-10.text-right
      .btn-group
        a.btn.btn-sm.btn-default(href="/") Questions 
        //- .btn.btn-sm.btn-default Tags 
        a.btn.btn-sm.btn-default(href="/questions/new") Ask a Question 

br
