nav.navbar.navbar-default
  .navbar-header
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='#/') Zoinks
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a WTF?
      li
        a Prices
      li
        a Scooby Snack

    
    ul.nav.navbar-nav.navbar-right
      a.navbar-btn.btn.btn-info(data-toggle='modal', data-target='#new-zoink') New Zoink
      a.navbar-btn.btn.btn-info(data-toggle='modal', data-target='#login-modal', ng-hide='loggedIn') Login
      li.dropdown(ng-show='loggedIn')
        a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')

          span.status {{currentUser.email}}
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Action
          li
            a(href='#') Another action
          li
            a(href='#') Something else here
          li.divider(role='separator')
          li
            a(ng-click='logout()') Logout
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          | Zoinks 
          span.caret
        ul.dropdown-menu
          li(ng-repeat='zoink in zoinks')
            a(href='#/zoinks/{{zoink._id}}') {{zoink.title}}

#login-modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title
          span(ng-show='!signupMode') Login
          span(ng-show='signupMode') Register
      .modal-body
        .alert.alert-danger(ng-show='err') {{err}}
        button.btn.btn-block.btn-primary(ng-click="authenticate('facebook')") Sign in with Facebook
        button.btn.btn-block.btn-primary(ng-click="authenticate('google')") Sign in with Google
        form
          .form-group
            label(for='') Email
            input.form-control(type='text', ng-model='user.email')
          .form-group
            label(for='') Password
            input.form-control(type='password', ng-model='user.password')
          .form-group(ng-show='signupMode')
            label(for='') Confirm Password
            input.form-control(type='password', ng-model='user.confirm')
      .modal-footer
        a.btn.btn-link(ng-click='signupMode = true', ng-hide='signupMode') Register
        button.btn.btn-primary(type='submit', ng-hide='signupMode', ng-click='login()') Log In
        a.btn.btn-link(ng-click='signupMode = false', ng-show='signupMode') Login
        button.btn.btn-primary(type='submit', ng-cloak='', ng-show='signupMode', ng-click='createAccount()') Sign Up

#new-zoink.modal.fade(tabindex='-1', role='dialog', aria-labelledby='new-zoinkLabel')
  .modal-dialog(role='document')
    .modal-content
      form(ng-submit='createZoink()')
        .modal-body
          .form-group
            label(for='') Title*
            input.form-control(type='text', ng-model='zoink.title', required='')
          .form-group
            label(for='') Location
            input.form-control(type='text', ng-model='zoink.location')
          .row
            .form-group.col-xs-6
              label(for='') Starts At
              input.form-control(type='text', ng-model='zoink.startsAt')
            .form-group.col-xs-6
              label(for='') Ends At
              input.form-control(type='text', ng-model='zoink.endsAt')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Zoink!
