.container
  .row
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      legend Set New Password
      form(ng-submit="requestPassword()")
        .form-group
          label New Password*
          input.form-control(type="password" ng-model="user.password")
        .form-group
          label Confirm Password*
          input.form-control(type="password" ng-model="confirm")
        .text-right
          button.btn.btn-danger(type="submit") Save Password