.card
  p {{post.body}}
  small Posted by {{post.user.fullname}} on #[span(ng-bind="post.createdAt | date:'EEE MMMM dd'")]

  br
  small.text-muted(ng-show="post.dueDate")
    i.icon.ion-ios-list-outline 
    | Due on #[span(ng-bind="post.dueDate | date:'EEE MMMM dd'")]
  .text-muted.pull-right.text-large 
    a(ng-click="deletePost(post)") #[i.icon.ion-trash-a]

  .text-right(ng-show="profile")
    a(href="/courses/{{post.course._id}}") {{post.course.title}}