.card
  .row
    .col-xs-11
      p(ng-bind-html="post.body | linky:'_blank'")
    .col-xs-1
      .text-muted.pull-right.text-large.dropdown.corner-icon(ng-hide="profile || post.user._id != currentUser._id")
        .dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
          span.caret
        ul.dropdown-menu.short-dropdown-menu(aria-labelledby='dropdownMenu1')
          li
            a(ng-click="deletePost(post)") Delete
  br
  .clearfix
    small.pull-left 
      i.icon.ion-ios-email(ng-show="post.emailParticipants") 
      | Posted by #[a(href="/users/{{post.user._id}}") {{post.user.username}}] on #[span(ng-bind="post.createdAt | date:'EEE MMMM dd'")]
    small.text-danger.pull-right(ng-show="post.dueDate")
      i.icon.ion-ios-list-outline
      |  Due on #[span(ng-bind="post.dueDate | date:'EEE MMMM dd'")]
  .clearfix
    a.small(href="/courses/{{post.course._id}}" ng-show="profile") {{post.course.title}}