.event-name
  form(ng-submit="enterRoom()")
    a.hash-tag.pull-left(href="/") #
    input.hash-input#roomName(ng-model="room.name", placeholder="EnterRoomName", ng-space)
    button.pull-right.btn.qq-btn.enter-room-btn#enterRoom 
      i.icon.ion-log-in
  .toggle-order Sorted by
    br
    button.btn.btn-default.btn-order(ng-click="switchOrder()") 
      i.icon.ion-stats-bars
      {{" " + orderButton}}

form.question(ng-submit="publishPost()")
  textarea(ng-model="post.body", placeholder="What is your question?", autofocus="true")
  button.pull-right.qq-btn.btn.ask-btn#publishPost(type="submit", ng-disabled="!post.body")
    i.icon.ion-edit

ul.list-group
  li.list-group-item.clearfix(ng-repeat="post in posts | orderBy: order", ng-hide="post.votes_count <= -5")
    div.pull-left.voting-buttons.text-muted
      div.vote_up(ng-click="voteUp(post)" ng-class="{'voted_up' : alreadyVoted(post, 'up')}")
        i.icon.ion-arrow-up-b
      small.vote_count.small {{post.votes_count}}
      div.vote_down(ng-click="voteDown(post)" ng-class="{'voted_down' : alreadyVoted(post, 'down')}")
        i.icon.ion-arrow-down-b
    div(ng-bind-html="post.body | linky:'_blank'")
    div.created-at asked  
      span(am-time-ago="post.created_at")