.container
  .row
    .col-sm-8.col-sm-offset-2
      legend New Product Information
      form(ng-submit="createProduct()")
        div(ng-include="'templates/product-form'")
        .text-right
          button.btn.btn-primary(type="submit") Save New Product