.container
  .row
    .col-sm-offset-1.col-sm-7
      .card 
        //- PRODUCT INFO
        h3 {{product.name}}
        .text-right(ng-if="isContributor")
          a(href="/products-edit/{{product._id}}") Edit Product
        hr
        dl
          dt What problem are you solving?
          dd {{product.problem}}
          dt Who is your customer?
          dd {{product.customer}}
          dt What assumptions does your product make about the world?
          dd {{product.assumptions}}
          dt Describe your finished product.
          dd {{product.finishedProduct}}
          dt Describe the absolute minimum product that you will build and ship first.
          dd {{product.mvp}}
      br   
      legend New Product Update
      form(ng-submit="createUpdate()")
        .form-group
          label Update Type
          select.form-control(ng-model="update.kind" required)
            option(ng-repeat="kind in kinds") {{kind}}
        .form-group
          label Details
          textarea.form-control(ng-model="update.body", rows=7 placeholder="Update Details")
        .text-right
          button.btn.btn-primary Create Update
      hr
      .card(ng-repeat="update in updates")
        h5 {{update.kind}}
        small.text-muted posted on #[span(ng-bind="update.createdAt | date:'EEE MMM dd, yy'")] by {{update.user.username}}
        p {{update.body}}
        

    .col-sm-3
      .btn.btn-primary.btn-block(ng-click="join()" ng-show="!isContributor") Join
      .btn.btn-success.btn-block.no-hover(ng-show='isContributor') Joined
      .text-right
        a(href="" ng-click="leave(product)") Leave Product Team
      hr
      h4 Contributors
      a(href="users/{{contributor._id}}" ng-repeat="contributor in product.contributors")
        {{contributor.username}}
        br
      h4 Advisor
      a(href="users/{{product.instructor._id}}") {{product.instructor.fullname}}
      h4(ng-show="product.course") Course
      a(href="courses/{{product.course._id}}") {{product.course.title}}
      hr
      button.btn.btn-default.btn-block(ng-click='goToUrl(product.githubUrl)' ng-disabled="!product.githubUrl") #[i.ion.ion-social-github] GitHub Repo
      button.btn.btn-warning.btn-block(ng-click='goToUrl(product.agileUrl)' ng-disabled="!product.agileUrl") #[i.ion.ion-android-checkbox-outline] Scrum Board
      button.btn.btn-primary.btn-block(ng-click='goToUrl(product.liveUrl)' ng-disabled="!product.liveUrl") #[i.ion.ion-android-wifi] Live Site
