.container
  .row
    .col-sm-8.col-sm-offset-2
      legend Product Information
      form(ng-submit="updateProduct()")
        .row
          .col-sm-12
            .form-group
              label What are the critical assumptions or hypotheses that you are making that must be true for your product to create value and make money?
              textarea.form-control(type="text" ng-model="product.assumptions" rows="3")
            .form-group
              label Describe your absolute minimum viable product. (e.g. for Twitter, a site that publishes 140 microposts and lets you follow other people)
              textarea.form-control(type="text" ng-model="product.mvp" rows="3")
            .form-group
              label Who is your customer? Who pays you $?
              input.form-control(type="text" ng-model="product.customer")
        br
        legend External Links
        .row
          .col-sm-4
            .form-group
              label GitHub Repo URL
              input.form-control(ng-model='product.githubUrl')
          .col-sm-4
            .form-group
              label Agile Board URL
              input.form-control(ng-model='product.agileUrl')
          .col-sm-4
            .form-group
              label Live Site URL
              input.form-control(ng-model='product.liveUrl')
        .text-right
          button.btn.btn-primary(type="submit") Save New Product