.container
  .row
    .col-sm-5
      .card 
        h3 {{product.name}}
        p Collaborators: 
          a(href="users/{{contributor._id}}" ng-repeat="contributor in product.contributors") {{contributor.username}} 
        p Advisor: 
          a(href="users/{{product.instructor._id}}") {{product.instructor.fullname}}
        a(href="#" ng-click="join()" ng-show="!isContributor") Join Team
        a(href="" ng-click="leave(product)" ng-show="isContributor") Leave Product Team
        p(ng-show="product.course") Course: 
          a(href="courses/{{product.course._id}}") {{product.course.title}}

        h4 Product Links
        .btn-toolbar
          .btn-group
            button.btn.btn-default.btn-block(ng-click='goToUrl(product.githubUrl)' ng-disabled="!product.githubUrl") #[i.ion.ion-social-github] GitHub Repo
          .btn-group
            button.btn.btn-warning.btn-block(ng-click='goToUrl(product.agileUrl)' ng-disabled="!product.agileUrl") #[i.ion.ion-android-checkbox-outline] Scrum Board
          .btn-group
            button.btn.btn-primary.btn-block(ng-click='goToUrl(product.liveUrl)' ng-disabled="!product.liveUrl") #[i.ion.ion-android-wifi] Live Site
        br
        p(ng-if="isContributor")
          a(href="/products-edit/{{product._id}}") Update Product Details and Links
      .card
        h4 Product Basics
        p 
          a(href="/products-plan/{{product._id}}") Update Product Plan
        dl
          dt(ng-if="product.problem") What problem are you solving?
          dd(ng-if="product.problem") {{product.problem}}
          //- dt(ng-if="product.customer") Who is your customer?
          //- dd(ng-if="product.customer") {{product.customer}}
          dt(ng-if="product.assumptions") What assumptions does your product make about the world?
          dd(ng-if="product.assumptions") {{product.assumptions}}
          dt(ng-if="product.finishedProduct") Describe your finished product.
          dd(ng-if="product.finishedProduct") {{product.finishedProduct}}
          dt(ng-if="product.mvp") Describe the absolute minimum product that you will build and ship first.
          dd(ng-if="product.mvp") {{product.mvp}}
      .card
        h4 Business Model Canvas
        p 
          a(href="/products/{{product._id}}/business-model-canvas") Update Business Model Canvas
        dl
          dt(ng-if="product.customer") Who is your customer?
          dd(ng-if="product.customer") {{product.customer}}
          dt(ng-if="product.valueProposition") What is your value proposition?
          dd(ng-if="product.valueProposition") {{product.valueProposition}}
          dt(ng-if="product.channels") What channels will you use to reach them?
          dd(ng-if="product.channels") {{product.channels}}
          dt(ng-if="product.customerRelationships") What relationships will you form with them?
          dd(ng-if="product.customerRelationships") {{product.customerRelationships}}
          dt(ng-if="product.revenueStreams") What are your revenue streams? How does your product make money?
          dd(ng-if="product.revenueStreams") {{product.revenueStreams}}
          dt(ng-if="product.keyActivities") What are the Key Activities you will engage in?
          dd(ng-if="product.keyActivities") {{product.keyActivities}}
          dt(ng-if="product.keyResources") What are the Key Resources you will need?
          dd(ng-if="product.keyResources") {{product.keyResources}}
          dt(ng-if="product.keyPartners") Who are your Key Partners?
          dd(ng-if="product.keyPartners") {{product.keyPartners}}
          dt(ng-if="product.costStructure") What are your costs?
          dd(ng-if="product.costStructure") {{product.costStructure}}

    .col-sm-7
      h5 Product Updates
      form(ng-submit="createUpdate()")
        .form-group
          select.form-control(ng-model="update.kind" required)
            option(value="" disabled selected) Update Type
            option(ng-repeat="kind in kinds") {{kind}}
        .form-group
          textarea.form-control(ng-model="update.body", rows=5 placeholder="Update Details")
        .text-right
          button.btn.btn-primary Save Update
      br
      .card(ng-repeat="update in updates")
        .pull-right(ng-show="isContributor")
          .dropdown.text-small
            a#dropdownMenu1.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              i.icon.ion-chevron-down
            ul.dropdown-menu(aria-labelledby='dropdownMenu1')
              li
                a(href='#' ng-click="deleteUpdate(update)") Delete
        p 
          small.text-muted {{update.kind}} posted by {{update.user.username}} on #[span(ng-bind="update.createdAt | date:'EEE MMM dd'")]
        p {{update.body}}
