.container
  .row
    .col-sm-offset-1.col-sm-7
      .card 
        //- PRODUCT INFO
        h3 {{product.name}}
        hr
        dl
          dt(ng-if="product.problem") What problem are you solving?
          dd(ng-if="product.problem") {{product.problem}}
      a.btn.btn-block.btn-lg.btn-success(href="/products-plan/{{product._id}}" ng-hide="product.customer || product.assumptions || product.finshedProduct || product.mvp")
        | Add Product Plan
      br
      div(ng-show="product.customer || product.assumptions || product.finshedProduct || product.mvp")
        h4 Product Plan
        .card
          dt(ng-if="product.customer") Who is your customer?
          dd(ng-if="product.customer") {{product.customer}}
          dt(ng-if="product.assumptions") What assumptions does your product make about the world?
          dd(ng-if="product.assumptions") {{product.assumptions}}
          dt(ng-if="product.finishedProduct") Describe your finished product.
          dd(ng-if="product.finishedProduct") {{product.finishedProduct}}
          dt(ng-if="product.mvp") Describe the absolute minimum product that you will build and ship first.
          dd(ng-if="product.mvp") {{product.mvp}}
      br
      .clearfix
        h4.pull-left Product Updates
        .pull-right
          button.btn.btn-sm.btn-primary(type='button', data-toggle='modal', data-target='#newUpdate' ng-if="!isContributor")
            | Leave Product Feedback
          button.btn.btn-sm.btn-primary(type='button', data-toggle='modal', data-target='#newUpdate' ng-if="isContributor")
            | New Product Update
      .card(ng-repeat="update in updates")
        .pull-right
          .dropdown.text-small
            a#dropdownMenu1.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              i.icon.ion-chevron-down
            ul.dropdown-menu(aria-labelledby='dropdownMenu1')
              li
                a(href='#' ng-click="deleteUpdate(update)") Delete
        h5 {{update.kind}}
        small.text-muted posted on #[span(ng-bind="update.createdAt | date:'EEE MMM dd, yy'")] by {{update.user.username}}
        p {{update.body}}
        

    .col-sm-3
      .btn.btn-primary.btn-block(ng-click="join()" ng-show="!isContributor") Join
      .btn.btn-success.btn-block.no-hover(ng-show='isContributor') Joined
      .text-right
        a(href="" ng-click="leave(product)") Leave Product Team
      hr
      h4 Contributors
      a(href="users/{{contributor._id}}" ng-repeat="contributor in product.contributors")
        {{contributor.username}}
        br
      h4 Advisor
      a(href="users/{{product.instructor._id}}") {{product.instructor.fullname}}
      h4(ng-show="product.course") Course
      a(href="courses/{{product.course._id}}") {{product.course.title}}
      hr
      button.btn.btn-default.btn-block(ng-click='goToUrl(product.githubUrl)' ng-disabled="!product.githubUrl") #[i.ion.ion-social-github] GitHub Repo
      button.btn.btn-warning.btn-block(ng-click='goToUrl(product.agileUrl)' ng-disabled="!product.agileUrl") #[i.ion.ion-android-checkbox-outline] Scrum Board
      button.btn.btn-primary.btn-block(ng-click='goToUrl(product.liveUrl)' ng-disabled="!product.liveUrl") #[i.ion.ion-android-wifi] Live Site
      br
      .text-right(ng-if="isContributor")
        a(href="/products-edit/{{product._id}}") Product Settings


.modal.fade#newUpdate(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      form(ng-submit="createUpdate()")
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title New Product Update
        .modal-body
          .form-group
            label Update Type
            select.form-control(ng-model="update.kind" required)
              option(ng-repeat="kind in kinds") {{kind}}
          .form-group
            label Details
            textarea.form-control(ng-model="update.body", rows=7 placeholder="Update Details")
        .modal-footer
          a.btn.btn-default(href="#" data-dismiss='modal') Close
          button.btn.btn-primary Create Update
