a.no-style(href="/products/{{product._id}}")
  .card
    h4 {{product.name}}  
    p {{product.problem | limitTo:180 }}
    .row
      .col-sm-12
        b Contributors 
        p 
          span(ng-repeat="contributor in product.contributors") {{contributor.username}} 
    .row 
      .col-sm-12
        b Advisor
        |: {{product.instructor.fullname}}
    .row
      .col-sm-12
        .text-muted Created on 
          span(ng-bind="product.createdAt | date:'MMM dd, yyyy'")

