.container
  .row
    .col-sm-8.col-sm-offset-2
      legend Product Plan #[small.text-muted (Its natural for these answers to change as you learn more)]
      form(ng-submit="updateProduct()")
        .form-group
          label What are some assumptions about the world must be true for your product to succeed?
          textarea.form-control(type="text" ng-model="product.assumptions" rows="3")
        .form-group
          label Describe your minimum viable product.
          textarea.form-control(type="text" ng-model="product.mvp" rows="3")
        .form-group
          label Describe your product when it is 100% finished.
          textarea.form-control(type="text" ng-model="product.finishedProduct" rows="3")
        .form-group
          label Who is your customer? Who pays you $?
          input.form-control(type="text" ng-model="product.customer")
        .btn-toolbar.pull-right
          .btn-group
            .btn.btn-danger(ng-click="deleteProduct()") Delete Product
          .btn-group
            button.btn.btn-primary(type="submit") Update Product
