.container
  .row
    .col-sm-4
      h4 {{user.first}} {{user.last}} #[span.text-muted ({{user.username}})]
      .text-right(ng-show="currentUser.role == 'Instructor'")
        a(href="users/{{user._id}}/feedback") Provide Feedback
      hr

      h4 Courses
      a(href="/course-catalog" ng-show="user.enrolledCourses.length == 0") Go to Course Catalog
      //- STUDENT'S ENROLLED COURSES
      .list-group
        a.list-group-item(href="courses/{{course._id}}" ng-repeat="course in user.enrolledCourses")
          h4 {{course.title}} 
          p {{course.students.length}}/26 Participants
      
      h4 Products
      a(href="/product-new" ng-show="user.products.length == 0") Start New Product
      .card(ng-repeat="product in user.products")
        a.no-style(href="products/{{product._id}}")
          h3 {{product.name}}
          p {{product.problem}}

    .col-sm-4
      h4 Announcements
      div(ng-init="profile = true" ng-include="'templates/post'", ng-repeat="post in posts")
    
    .col-sm-4
      h4 Skills #[span(ng-show="user.feedbacks.length > 0 && user.feedbacks[0].body") & Feedback]
      .card(ng-show="user.feedbacks.length > 0 && user.feedbacks[0].body")
        div "{{user.feedbacks[0].body | limitTo:400 }}"
        .text-right
          i.text-muted(ng-bind="user.feedbacks[0].createdAt | date:'EEE MMM dd, yyyy'")

      hr(ng-show="user.feedbacks.length > 0 && user.feedbacks[0].body")
      
      h4(ng-repeat="competency in user.competencies | orderBy: ['-level']" 
         style="display:inline-block;")
          span.label(ng-class="{ 'label-primary': competency.kind == 'core', 'label-success': competency.kind == 'character', 'label-warning': competency.kind == 'elective' }")
            span.level {{competency.level}} | {{competency.name}} 
