.container
  .row
    .col-sm-4
      h3 {{user.first}} {{user.last}} #[span.text-muted ({{user.username}})]
      a(href="users/{{user._id}}/feedback" ng-show="currentUser.role == 'Instructor'") Provide Feedback
      hr

      h4 Courses
      //- STUDENT'S ENROLLED COURSES
      a(href="/course-catalog" ng-show="user.enrolledCourses.length == 0") Go to Course Catalog
      //- INSTRUCTOR'S ENROLLED COURSES
      
      .list-group
        a.list-group-item(href="courses/{{course._id}}" ng-repeat="course in user.enrolledCourses | orderBy: ['quarter', 'title']")
          h4 {{course.title}} 
          p 
            Q {{course.quarter}} - {{course.weekDays}}, {{course.startTime}} in {{course.location}}
            .text-right.text-muted {{course.students.length}}/26 Participants

          
      h4 Products
      a(href="/product-new" ng-show="user.products.length == 0") Start New Product
      .card(ng-repeat="product in user.products")
        a.no-style(href="products/{{product._id}}")
          h3 {{product.name}}
          p {{product.problem}}

    .col-sm-4
      h4 Announcements
      div(ng-init="profile = true" ng-include="'templates/post'", ng-repeat="post in posts")
    
    .col-sm-4
      h4 Skills #[span(ng-show="user.feedbacks.length > 0 && user.feedbacks[0].body") & Feedback]
      .card(ng-show="user.feedbacks.length > 0 && user.feedbacks[0].body")
        div "{{user.feedbacks[0].body | limitTo:400 }}"
        .text-right
          i.text-muted(ng-bind="user.feedbacks[0].createdAt | date:'EEE MMM dd, yyyy'")

      hr(ng-show="user.feedbacks.length > 0 && user.feedbacks[0].body")
      
      h4(ng-repeat="competency in user.competencies | orderBy: ['-level']" 
         style="display:inline-block;")
          .chip(ng-class="{ 'chip-core-1': competency.kind == 'core' && competency.level == 1, 'chip-core-2': competency.kind == 'core' && competency.level == 2, 'chip-core-3': competency.kind == 'core' && competency.level == 3, 'chip-core-4': competency.kind == 'core' && competency.level == 4, 'chip-core-1': competency.kind == 'core' && competency.level == 5, 'chip-character-1': competency.kind == 'character' && competency.level == 1, 'chip-character-2': competency.kind == 'character' && competency.level == 2, 'chip-character-3': competency.kind == 'character' && competency.level == 3, 'chip-character-4': competency.kind == 'character' && competency.level == 4, 'chip-character-5': competency.kind == 'character' && competency.level == 5, 'chip-elective-1': competency.kind == 'elective' && competency.level == 1, 'chip-elective-2': competency.kind == 'elective' && competency.level == 2, 'chip-elective-3': competency.kind == 'elective' && competency.level == 3, 'chip-elective-4': competency.kind == 'elective' && competency.level == 4, 'chip-elective-5': competency.kind == 'elective' && competency.level == 5 }")
            p.competency-level {{competency.level}}
            p.competency-name {{competency.name}} 
