.container
  .row
    .col-sm-12
      .pull-left
        h3 {{user.first}} {{user.last}} #[small {{user.username}}]
      .pull-right
        a.btn.btn-warning(href="users/{{user._id}}/competencies" ng-show="currentUser.role == 'Instructor'") Update Competencies
  .row
    .col-sm-4
      h4 Courses
      //- INSTRUCTOR'S COURSES
      .list-group
        a.list-group-item(href="courses/{{course._id}}" ng-repeat="course in user.courses")
          {{course.title}} 
      //- STUDENT'S ENROLLED COURSES
      .list-group
        a.list-group-item(href="courses/{{course._id}}" ng-repeat="course in user.enrolledCourses")
          {{course.title}} 
      
      h4 Products
      .list-group
        a.list-group-item(href="products/{{product._id}}" ng-repeat="product in user.products")
          {{product.name}} 

    .col-sm-4
      h4 Announcements
      div(ng-init="profile = true" ng-include="'templates/post'", ng-repeat="post in posts")
    
    .col-sm-4
      h4 Competencies
      div(ng-repeat="competency in user.competencies | orderBy: ['-level'] ")
        {{competency.name}} 
        span(ng-switch="competency.level")
          span(ng-switch-when="0") (Waiting)
          span(ng-switch-when="1") (Beginning)
          span(ng-switch-when="2") (Undertaking)
          span(ng-switch-when="3") (Approaching)
          span(ng-switch-when="4") (Overtaking)
          span(ng-switch-when="5") (Innovating)
        .progress
          .progress-bar(role='progressbar', aria-valuenow='{{competency.level/5*100}}', aria-valuemin='0', aria-valuemax='5', style='width: {{competency.level/5*100}}%;')


.btn.btn-primary.btn-block(ng-cloak ng-click="enroll()" ng-show="isCoursesLoaded && !enrolled") Enroll
        .btn.btn-success.btn-block.no-hover(ng-show='isCoursesLoaded && enrolled') Enrolled