.container
  .row
    .col-sm-3
      br
      img.img-rounded.img-responsive(ng-src="{{user.picture}}")
      h4 {{user.first}} {{user.last}}
    .col-sm-9
      .page-header
        h4 Invites
      .list-group
        a.list-group-item(ng-repeat="invite in invites" href="#/zoinks/{{invite._id}}") 
          h4 {{invite.title}}
          p.lead {{invite.desc}}
      .page-header
        h4 Zoinks
      .list-group
        a.list-group-item(ng-repeat="zoink in zoinks" href="#/zoinks/{{zoink._id}}") 
          h4 {{zoink.title}}
          p.lead {{invite.desc}}
