.container
  .row
    .col-sm-4.col-sm-offset-1
      .card
        h3 {{user.first}} {{user.last}} #[small {{user.username}}]
        a.small(href="/settings") Account Settings
      
      hr
      
      h3 Your Courses
      //- INSTRUCTOR'S COURSES
      a.no-style(href="courses/{{course._id}}")
        .card(ng-repeat="course in user.courses")
          {{course.title}} 
      //- STUDENT'S ENROLLED COURSES
      a.no-style(href="courses/{{course._id}}")
        .card(ng-repeat="course in user.enrolledCourses")
          {{course.title}} 
      hr
      
      h3 Your Products
      a.no-style(href="products/{{product._id}}")
        .card(ng-repeat="product in user.products")
          {{product.name}} 
    
    .col-sm-5.col-sm-offset-1
      h4 Recent Announcements
      div(ng-init="profile = true" ng-include="'templates/post'", ng-repeat="post in posts")


.btn.btn-primary.btn-block(ng-cloak ng-click="enroll()" ng-show="isCoursesLoaded && !enrolled") Enroll
        .btn.btn-success.btn-block.no-hover(ng-show='isCoursesLoaded && enrolled') Enrolled