.container
  .row
    .col-sm-4.col-sm-offset-1
      .card
        h3 {{user.first}} {{user.last}} #[small {{user.username}}]
        a.small(href="/profile") Account Settings
      
      hr
      
      h3 Courses
      p(ng-repeat="course in user.courses" ng-show="course.enrolled")
        a(href="courses/{{course._id}}") {{course.title}} 
        btn.btn-default.cancel-button(ng-init="course.enrolled = true" ng-click="unenroll(course)" ng-show="course.enrolled")
          i.ion-android-cancel      
      hr
      
      h3 Products
      p(ng-repeat="product in user.products" ng-show="product.joined")
        a(href="products/{{product._id}}") {{product.name}} 
        btn.btn-default.cancel-button(ng-init="product.joined = true" ng-click="unjoin(product)" ng-show="product.joined")
          i.ion-android-cancel 
    
    .col-sm-5.col-sm-offset-1
      h3 Announcements
      hr
      div(ng-init="profile = true" ng-include="'templates/post'", ng-repeat="post in posts")


.btn.btn-primary.btn-block(ng-cloak ng-click="enroll()" ng-show="isCoursesLoaded && !enrolled") Enroll
        .btn.btn-success.btn-block.no-hover(ng-show='isCoursesLoaded && enrolled') Enrolled