.container
  .row
    .col-sm-4.col-sm-offset-1
      .card
        h3 {{user.first}} {{user.last}} #[small {{user.username}}]
      
      hr
      
      h3 Courses
      p(ng-repeat="course in user.courses")
        a(href="courses/{{course._id}}") {{course.title}} 
      
      hr
      
      h3 Products
      p(ng-repeat="product in user.products")
        a(href="products/{{product._id}}") {{product.name}} 
    
    .col-sm-5.col-sm-offset-1
      h3 Announcements
      hr
      div(ng-init="profile = true" ng-include="'templates/post'", ng-repeat="post in posts")

