.row
  .col-sm-9.col-lg-8
    h3 {{question.title}}
    hr
    div(marked="question.body")
    a(href="/edit/questions/{{question._id}}" ng-show="isCurrentUsersQuestion") edit
    hr
    form(ng-submit="createAnswer()")
      .form-group
        textarea.form-control(rows="5" ng-model="answer.body")
      hr
      div
        button.btn.btn-sm.btn-primary(type='submit') Post Answer
    div(ng-repeat="answer in question.answers")
      section {{answer.body}}
  .col-sm-3
    .lead Related Questions