.row
  .col-sm-8.col-lg-7.col-lg-offset-1
    form(ng-submit="createQuestion()")
      .form-group
        label Title*
        i.text-muted Include your tools and problem
        input.form-control(type="text" ng-model="question.title" placeholder="Title" required)
      .form-group
        label Details* 
        i.text-muted Always include 1) your goal, 2) what you've already tried, and 3) the error message you are receiving and/or relevant sample code
        textarea.form-control(rows="10" ng-model="question.body" placeholder="Be sure to use markdown here to make a nice question." required)
      .form-group
        label Tags*
        i.text-muted Include a comma-delimited list of tags (7 max)
        tags-input(ng-model="question.tags" add-from-autocomplete-only="true")
          auto-complete(source='loadTags($query)')
      hr
      div.border(marked="question.body")
      br
      br
      div
        button.btn.btn-primary(type="submit") Save Question
        a.btn.btn-link(href="/questions/{{question._id}}" ng-show="editQuestion") cancel
        a.btn.btn-warning(ng-click="deleteQuestion()" ng-show="editQuestion") Delete
  .col-sm-4.col-lg-3
    br
    //- .panel.panel-danger
    //-   .panel-heading
    //-     h3.panel-title Panel title
    //-   .panel-body Panel content
    .panel.panel-danger
      .panel-heading
        h3.panel-title Markdown CheatSheet
      .panel-body 
        b Links
        p [Link Text](http://www.google.com)
        b Images
        p ![Alt text](/path/to/img.jpg)
        b Typography
        p **Bold**
        p _italic_ or *italic* 
        b Code Block
        p
          ```js
          br
          | var aDude = "Cowboy";
          br
          ```
        b Code Inline
        p
          `var thisCode = "is great";`
        b Any HTML Tags
        p