.row
  .col-sm-8.col-md-6.col-md-offset-1
    form(ng-submit="createQuestion()")
      .form-group
        label Title
        input.form-control(type="text" ng-model="question.title")
      .form-group
        textarea.form-control(rows="10" ng-model="question.body")
      .text-right
        button(type="submit") Post Question
  .col-sm-4.col-md-3
    br
    .panel.panel-danger
      .panel-heading
        h3.panel-title Panel title
      .panel-body Panel content
    .panel.panel-danger
      .panel-heading
        h3.panel-title Panel title
      .panel-body Panel content