//- each i in messages
  .flash= i

.container
  .row
    .col-sm-4.col-sm-offset-4
      form(action='/register', method='post')
        h2.text-center Register
        .well
          .form-group
            label(for='username') Username
            input#username.form-control(type='text', name='username', placeholder='Username', required='', autofocus='')
          .form-group
            label(for='first') First Name
            input#first.form-control(type='text', name='first', placeholder='Name', required='', autofocus='')
          .form-group
            label(for='last') Last Name
            input#last.form-control(type='text', name='last', placeholder='Name', required='', autofocus='')
          .form-group
            label(for='email') E-mail
            input#email.form-control(type='email', name='email', placeholder='E-mail', required='')
          .form-group
            label(for='password') Password
            input#password.form-control(type='password', name='password', placeholder='Password', required='')
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Register 
      //- .row
        .center-block.text-center
          a(href='/oauth/facebook') Login with Facebook
          a(href='/oauth/twitter') Login with Twitter
