.event-name
  .hash-tag.pull-left #
  input.hash-input(ng-model="room.name", placeholder="QuestionQueue2015")
  .pull-right.qq-btn.enter-room-btn#enterRoom(ng-click="enterRoom()")
    i.icon.ion-log-in