.col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3
  br
  .form-group
    .input-group
      span.input-group-addon #
      input.form-control(ng-model="room.name", placeholder="QuestinQueue2015")
  .btn.btn-block.btn-danger(ng-click="enterRoom()") Enter Room Hashtag