.container
  .row
    .col-md-offset-2.col-md-8.col-sm-12
      legend Account Settings
      form(ng-submit="updateUser()")
        .row
          .col-md-6.col-sm-12
            .form-group
              label First Name
              input.form-control(ng-model="user.first")
          .col-md-6.col-sm-12
            .form-group
              label Last Name
              input.form-control(ng-model="user.last")
        .row
          .col-md-6.col-sm-12
            .form-group
              label Username
              input.form-control(ng-model="user.username")
          .col-md-6.col-sm-12
            .form-group
              label(for='') Email
              input.form-control(type='email', ng-model='user.email')
        .row
          .col-md-offset-6.col-md-6.col-sm-12
            label Role
            select.form-control(ng-model="user.role")
              option(value="Student") Student
              option(value="Instructor") Instructor
              option(value="Staff") Staff
        .row
          .col-md-12
            .text-right
              br
              a.btn.btn-link.link-text(href="/profile") Cancel
              button.btn.btn-danger(type="submit") Update Account
    //- .col-md-4.col-sm-6
    //-   legend My Courses
    //-   .well(ng-repeat="course in user.courses")
    //-     h5 {{course.title}}
    //-     .text-right
    //-       button.btn.btn-sm.btn-danger(ng-init="course.enrolled = true" ng-click="unenroll(course)" ng-show="course.enrolled") Unenroll
    //-       button.btn.btn-sm.btn-primary(ng-click="enroll(course)" ng-show="!course.enrolled") Re-enroll