.jumbotron
  .container.text-center
    h1 Make Better Memories
    .lead The Easiest Way to Plan Fun With Friends
    .btn-toolbar
      a.btn.btn-lg.btn-primary(data-toggle='modal', data-target='#login-modal') Connect
      a.btn.btn-lg.btn-info(data-toggle='modal', data-target='#login-modal') New Zoink!
      a.btn.btn-lg.btn-success(href='#/zoinks/1') See Sample Zoink
.row
  .col-sm-4
    blockquote
      | "
      b Zoinks
      |  made planning my last camping trip INSANELY easy."
  .col-sm-4
    blockquote
      | "My friends used to plan weekend trips with WhatsApp, Slack, and email chains. Now we use 
      b Zoinks
      | ."
  .col-sm-4
    blockquote
      | "What I like best is 
      b Zoinks
      |  makes it so a picnic or party plans itself."
.container
  hr
  .row
    .col-sm-4
      h4.text-center Save Time
      p.lead Awesome Sauce
    .col-sm-4
      h4.text-center Save Time
      p.lead Awesome Sauce
    .col-sm-4
      h4.text-center Save Time
      p.lead Awesome Sauce
  .row
    .col-sm-4.col-sm-offset-2
      h4.text-center Save Time
    .col-sm-4
      h4.text-center Save Time
