.jumbotron
  .container.text-center
    h1 Make Better Apps
    .lead The Easiest Way to Authenticate
    .btn-toolbar
      a.btn.btn-lg.btn-info(data-toggle='modal', data-target='#login-modal') Get Started
.container
  .row
    .col-sm-4
      <h3>Powered by Angular</h3>
    .col-sm-4
      <h3>Powered by MongoDB</h3>
    .col-sm-4
      <h3>And Bootstrap can come too...</h3>