
.jumbotron.text-center
  h1 Welcome to The Product College at Make School

.container
  .row
    .col-sm-4.text-center
      h3 Course Enrollment
      p Enroll in courses taught by expert instructors.
    .col-sm-4.text-center
      h3 Track Mastery
      p Track the mastery of students as they skill up.
    .col-sm-4.text-center
      h3 Product-Based Learning
      p Give credit for the products students build in and outside of class.