.col-sm-9.box-shadow-left.whole-height.main.no-padding
  .container-fluid
    h4 {{zoink.title}} 
      small.text-muted.small at 
        a(href='http://maps.google.com/?q={{zoink.location}}', target='_blank') {{zoink.location}}
    b Starts At 
    {{zoink.startsAt | date:'EEE MMM d, h:mma'}}
    br
    b Ends At 
    {{zoink.endsAt | date:'EEE MMM d, h:mma'}}
    .row
      .col-sm-7
        .card
          .card-header.clearfix
            h5.pull-left Pitch In
            a.pull-right.btn.btn-link(ng-click='toggleNewRequirement()') Add
            //-  ng-hide='!rspved'
          .card-body
            form(ng-submit='addRequirement()', ng-show='newRequirement')
              .form-group
                input.form-control(type='text', ng-model='requirement.body', focus-me='{{newRequirement}}')
            .list-group
              .list-group-item(ng-repeat='r in zoink.requirements') {{r.body}}
        .card
          .card-header.clearfix
            h5.pull-left Shared Rides
            a.pull-right.btn.btn-link(ng-click='toggleNewCarpool()') Add
            //-  ng-hide='!rspved'
          .card-body
            form(ng-submit='addCarpool()', ng-show='newCarpool')
              .form-group
                input.form-control(type='text', ng-model='carpool.name', focus-me='{{newCarpool}}')
            .list-group
              .list-group-item(ng-repeat='carpool in zoink.carpools')
                .clearfix
                  .pull-left
                    | {{carpool.name}}
                  .pull-right
                    a.margin-sides.btn.btn-sm.btn-default.pull-right(ng-click='joinCarpool(carpool)')
                      i.icon.ion-plus-circled.big
                    img.img-responsive.img-circle.pull-right.margin-sides(ng-repeat='passenger in carpool.passengers', ng-src='{{passenger.picUrl}}', width='40px')
        .card
          .card-header.clearfix
            h5.pull-left Group Purchases
            a.pull-right.btn.btn-link(ng-click='toggleNewPurchase()') Add
            //-  ng-hide='!rspved'
          .card-body
            form(ng-submit='addPurchase()', ng-show='newPurchase')
              .form-group
                input.form-control(type='text', ng-model='purchase', focus-me='{{newTodo}}')
            .list-group
              .list-group-item(ng-repeat='purchase in zoink.purchases') {{purchase}}
        .card
          .card-header.clearfix
            h5.pull-left How to Prepare & What to Bring
            a.pull-right.btn.btn-link(ng-click='toggleNewTodo()') Add
            //-  ng-hide='!rspved'
          .card-body
            form(ng-submit='addTodo()', ng-show='newTodo')
              .form-group
                input.form-control(type='text', ng-model='todo', focus-me='{{newTodo}}')
            .list-group
              .list-group-item(ng-repeat='todo in zoink.todos') {{todo}}
      .col-sm-5
        .card
          .card-header.clearfix
            h5.pull-left RSVPs
            a.btn.btn-primary.pull-right(ng-click='rsvp()', ng-disabled='rsvped || !invited' ng-hide="rsvped") RSVP
            //- a.btn.btn-danger.pull-right(ng-click='unrsvp()', ng-show="rsvped") UnRSVP
          .card-body
            .media(ng-repeat='rsvp in zoink.rsvps')
              .media-left
                img.media-object.img-circle(ng-src='{{rsvp.picture}}', width='40px', alt='{{rsvp.name}}')
              .media-body
                h5.media-heading {{rsvp.first || "You"}}
        .card
          .card-header.clearfix
            h5.pull-left Invites
            a.pull-right.btn.btn-link(ng-click='toggleNewInvite()') Add
            //-  ng-hide='!rspved'
          .card-body
            form(ng-submit='addInvite()', ng-show='newInvite')
              .form-group
                input.form-control(type='email', required='', ng-model='invite.email', focus-me='{{newInvite}}')
            .invite.clearfix(ng-repeat='invite in zoink.invites | reverse')
              .pull-left {{invite}}
              .pull-right(ng-click="rmInvite(invite)")
                .btn.btn-sm.btn-default
                  i.icon.ion-eject.large
.col-sm-3.chat.box-shadow-left.whole-height
  div(ng-repeat="message in zoink.messages")
    {{message.content}}
    .text-right(ng-click="rmMessage(message)") 
      .btn.btn-sm.btn-default
        i.icon.ion-eject.large
  form(ng-submit='addMessage()')
    .form-group
      textarea.form-control(name='', id='', ng-model='message.content' ng-keyup="$event.keyCode == 13 && addMessage()")
    .text-right
      button.btn.btn-success.btn-sm(type='submit') Send
