extends email-layout

block body
  p
    strong Welcome #{user.first}, 
    p You are a confirmed member of #[a(href="#{baseUrl}") GA Q&A]. Visit GA Q&A and login to start asking, answering, and voting on questions.
    