html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      block body
      p
        b The Zoink's Team
        br
        | San Francisco, CA