extends email-layout

block body
  p
    strong Hi there, 
    | You're invited!
    br
  h2.h2 Zoink Title
  b What: 
  | Description
  b Where: 
  | Location
  b When: 
  | startsAt-endsAt
  p Click here to view the event and RSVP