extends email-layout

block body
  p
    strong Hi there #{user.first}, 
    p #{answerer} posted a new answer on your question:
    p 
      a(href="/questions/#{question._id}") #{question.title}
    