extends email-layout

block body
  p
    strong Welcome #{user.first}, 
    p You are a confirmed member of #[a(href="#{baseUrl}") Courseboard]. Visit Courseboard and login to browse courses and enroll or create your own!

    p Happy learning!
    br
    | Courseboard
    