extends email-layout

block body
  p
    strong Welcome to Zoinks, 
    | we're glad you found us. We believe that creative events and get-togethers with friends are awesome, but hard to plan. That's why we made Zoinks.
    br
  p Zoinks makes it easy to plan events by:
  ul
    li Putting everything in one place
    li Updating in real time
    li Being available on the go on your phone