<div class="row">
  <div class="col-sm-5">
    <select ng-model="month" class="form-control" name="Month">
      <option ng-value=""> Month </option>
      <option ng-value="January">January</option>
      <option ng-value="Febuary">Febuary</option>
      <option ng-value="March">March</option>
      <option ng-value="April">April</option>
      <option ng-value="May">May</option>
      <option ng-value="June">June</option>
      <option ng-value="July">July</option>
      <option ng-value="August">August</option>
      <option ng-value="September">September</option>
      <option ng-value="October">October</option>
      <option ng-value="November">November</option>
      <option ng-value="December">December</option>
    </select>
  </div>
  <div class="col-sm-3">
    <select ng-model="day" class="form-control" name="Day">
      <option ng-value=""> Day </option>
      <option ng-value="1">1</option>
      <option ng-value="2">2</option>
      <option ng-value="3">3</option>
      <option ng-value="4">4</option>
      <option ng-value="5">5</option>
      <option ng-value="6">6</option>
      <option ng-value="7">7</option>
      <option ng-value="8">8</option>
      <option ng-value="9">9</option>
      <option ng-value="10">10</option>
      <option ng-value="11">11</option>
      <option ng-value="12">12</option>
      <option ng-value="13">13</option>
      <option ng-value="14">14</option>
      <option ng-value="15">15</option>
      <option ng-value="16">16</option>
      <option ng-value="17">17</option>
      <option ng-value="18">18</option>
      <option ng-value="19">19</option>
      <option ng-value="20">20</option>
      <option ng-value="21">21</option>
      <option ng-value="22">22</option>
      <option ng-value="23">23</option>
      <option ng-value="24">24</option>
      <option ng-value="25">25</option>
      <option ng-value="26">26</option>
      <option ng-value="27">27</option>
      <option ng-value="28">28</option>
      <option ng-value="29">29</option>
      <option ng-value="30">30</option>
      <option ng-value="31">31</option>
    </select>
  </div>
  <div class="col-sm-4">
    <select ng-model="year" class="form-control" name="Year">
      <option ng-value=""> Year </option>
      <option ng-value="2016">2016</option>
      <option ng-value="2017">2017</option>
    </select>
  </div>
</div>